body {
	font-family: 'Roboto Mono', monospace;
	font-size: 0.89rem;
}

h1 {
	font-family: 'Roboto Mono', monospace;
	font-size: 3rem;
    font-weight: normal;
}

h1 a {
	color: #000;
	text-decoration: none;
}

a {
    color: #000;
    display: inline-block;
}

a:focus, a:active, a:hover{
    display: inline-block;
    color: #999;
}

h2 {
	font-size: 1.5rem;
	font-family: 'Roboto Mono', monospace;
  font-weight: normal;
  padding-top: 2rem;
}

h4 {
	margin: 0px;
}

figcaption {
	font-style: italic;
	font-size: 1rem;
}

div ul {
	list-style-type: square;
	padding-left: 20px;
	margin-top: 5px;
}

input {
    padding: 16px 10px;
    margin: 0 12px;
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    font-size: 0.8rem;
    line-height: 0.5rem;
    font-weight: 900;
}

#back:hover, #back:focus, #back:active {
    color: #999;
    text-decoration: none;
    display: block;
}

/* styles for navigation bar */

.navigation {
    margin-top: 14.4rem;
    width: 15rem;
    margin-left: 2rem;
    color: #000;
    -webkit-transform: translateZ(0);
}

.navigation a:hover, .navigation a:focus, .navigation a:active {
    color: #999;
    text-decoration: none;
    display: block;
}

.navigation a {
    z-index: 99;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 16px 10px;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 0.8rem;
    line-height: 0.5rem;
    font-weight: 900;
    color: #000;
}

.navigation a::before {
    content: '' ;
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 4px;
    width: 0%;
    background-color: #fff;
    transform-origin: left top;
    transform: scale(1, 1);
    -webkit-transition: color 0.1s,background-color 0.7s, width 0.5s, padding 0.2s ease-in;
}

.active::before {
    content: '' !important;
    display: block !important;
    position: absolute !important;
    bottom: 3px !important;
    left: 0 !important;
    height: 4px !important;
    width: 100% !important;
    background-color: #000 !important;
}

.container {
	margin: 1.8rem 10% 8rem 0%;
	margin-left: 18rem;
	padding-right: 0rem;
  width: auto;
}



/* styles for the subscription form header */
.subscribe {
  	width: auto;
  	overflow: hidden;
  	position: fixed;
  	top: 0;
  	left: 0;
    z-index: 100;
}
.burger {
    display: none;
}
.subscribe h1 {
	float: left;
	margin: 1.2rem;
  margin-left: 3rem;
	margin-bottom: 1.5rem;
  z-index: 100;
}

img {
    max-width: 600px;
    width: 100%;
    height: auto;
}

.pageimg {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.icon {
    max-width: 30px;
    width: auto;
    vertical-align: middle;
}


.gallery { 
    column-fill:auto;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
    margin-top: 15px;
    overflow: hidden;
}

.gallery img { 
    width: 100%; 
    height: auto;
    transition: 500ms;
    margin-bottom: 15px;
    opacity: 0.8;
   
}

.gallery img:hover {
    opacity: 1;
}

.gallery img:focus {
    outline: none;
}

.gallery a {
    display: block;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
  .gallery { 
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
  .gallery div { margin: 0; 
        width: 200px;
    }
}

@media screen and (max-width: 479px) {
    h2 {
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
  font-weight: normal;
  padding-top: 5rem;
}
    .navigation {
    display: none;
    margin-top: 0rem;
    margin-bottom: 1rem;
    width: 16rem;
    margin-left: 6.5%;
    color: #000;
    -webkit-transform: translateZ(0);
}
    .subscribe {
    margin: 3px;
    width: 97%;
    background-color: rgba(255, 255, 255, 1);
    border: solid 2px;
    }

    .subscribe h1 {
    margin-left: 11.5%;
    margin-right: 8%;
    margin-top: 0;
    margin-bottom: 0;
    }

    .burger {
    display: inline;
    line-height: 67px;
    font-size: 35px;
    }
    .gallery { 
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .gallery div { 
        margin: 0; 

    }
    .container{
        margin: 25% 6% 8rem 6%;
    }
}