body {
	font-family: 'Cormorant Garamond', serif;
	font-size: 1.1rem;
}

h1 {
	font-family: 'Mrs Saint Delafield', cursive;
	font-size: 3rem;
}

h1 a {
	color: #000;
	text-decoration: none;
}

h2 {
	font-size: 1.5rem;
	font-family: 'Spectral SC', serif;
}

h4 {
	margin: 0px;
}

figcaption {
	font-style: italic;
	font-size: 1rem;
}

div ul {
	list-style-type: square;
	padding-left: 20px;
	margin-top: 5px;
}

/* styles for navigation bar */
nav {
  	position: fixed;
    left: 0;
    right:0;
    bottom: 0;
    padding-bottom: 2rem;
    height: 50px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-color: rgba(224, 235, 235, 0.9);
}

nav ol, ul {
    list-style: none;
    display: inline-block;
    padding-left: 0px;
}

nav li {
    display: inline-block;
    padding: 0px 0 20px;
    vertical-align: middle;
}

nav a:hover, a:focus, a:active {
    color: #000;
    text-decoration: none;
}

nav a {
    font-family: 'Spectral SC', serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 1.5px;
    width: 100%;
    background-color: #000;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}

nav a:active::before {
    background-color: #000;
}

nav a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.is-current {
	color: #999;
	font-family: 'Mrs Saint Delafield', cursive;
	text-transform: capitalize;
	font-size: 2rem;
}

.container {
	margin: 10rem 15% 8rem 15%;
	padding-left: 5%;
	padding-right: 5%;
}

/* styles for the welcome page desgin */
/* backgroud textbox */
.background {
   color: rgba(224, 235, 235, 0.9);
   font-size: 10rem;
   position: fixed;
   top: 4rem;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: -1;
   height:100%;
   overflow: hidden;
   text-align: center;
   font-family: 'Mrs Saint Delafield', cursive;
   line-height: 8rem;
}

/* centering and decoration of the welcome page image */
.frontpageimg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(8rem, auto);
}

.frontpageimg img {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin:auto;
  background-color: #fff;
  border: 12px solid #000;
  padding:5px;

}

/* styles for the subscription form header */
.subscribe {
	background-color: #fff;
  	width: 100%;
  	overflow: hidden;
  	position: fixed;
  	top: 0;
  	left: 0;
}

.subscribe h1 {
	float: left;
	padding-left: 1rem;
	margin: 1.2rem;
	margin-bottom: 0.5rem;
}

.subscribe form {
	float: right;
	margin-top: 1.8rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
}

.textinput {
	background-color: transparent; 
	border-style: solid; 
	border-width: 0px 0px 1px 0px; 
	border-color: #566963;
	padding: 0.5rem;
}

.textinput:focus {
	background-color: rgba(224, 235, 235, 0.9);
    outline:none !important;
    border-width: 0px 0px 2px 0px;
}

::placeholder {
	color: #999;
	font-family: 'Spectral SC', serif;
	font-size: 0.8rem;
}


.button {
	background-color: #fff;
	border:1px solid #fff;
	display:inline-block;
	cursor:pointer;
	color: #999;
	font-size: 1.5rem;
	font-family: 'Mrs Saint Delafield', cursive;
	padding: 0px 4px;
	text-decoration:none;
	vertical-align: top;
}

.button:hover {
	color: #000;
}

.button:active {
	position:relative;
	top:1px;
}



@media (max-width: 680px) {

.subscribe {
	background-color: rgba(224, 235, 235, 1);
  	width: 100%;
  	overflow: hidden;
  	position: fixed;
  	top: 0;
  	left: 0;
}

.subscribe h1 {
	text-align: center;
	width:100%;
	float: left;
	padding-left: 0rem;
	margin: 0rem;
	margin-top: 0.5rem;
	font-size: 5rem;
}

.subscribe form{
	text-align: center;
	float: left;
	width: 100%;
	margin-top: 0rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
}

.button {
	background-color: transparent;
	border:1px solid transparent;
	display:inline-block;
	cursor:pointer;
	color: #999;
	font-size: 1.5rem;
	font-family: 'Mrs Saint Delafield', cursive;
	padding: 0px 4px;
	text-decoration:none;
	vertical-align: top;
}

.frontpageimg {
	display:inline-block;
	width: 100%;
	margin: auto;
	margin-top: 20rem;
	text-align: center;
}

.background {
   color: rgba(224, 235, 235, 0.9);
   font-size: 11rem;
   position: fixed;
   top: 10rem;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: -1;
   height:100%;
   overflow: hidden;
   text-align: center;
   font-family: 'Mrs Saint Delafield', cursive;
   line-height: 8rem;
}

.container {
	margin: 15rem 3% 8rem 3%;
	padding-left: 5%;
	padding-right: 5%;
}

nav a {
    font-family: 'Spectral SC', serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 1.2rem;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
}

::placeholder {
	color: #999;
	font-family: 'Spectral SC', serif;
	font-size: 0.85rem;
}

}

.gallery { 
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.gallery img { 
    width: 100%; 
    height: auto;
    transition: 500ms;
    margin-bottom: 10px;
    opacity: 0.8;
    page-break-inside: avoid; /* For Firefox. */
    -webkit-column-break-inside: avoid; /* For Chrome & friends. */
    break-inside: avoid; /* For standard browsers like IE. :-) */
}

.gallery img:hover {
    opacity: 1;
}

.modal-img,.model-vid{
  width:100%;
  height: auto;
}
.modal-body{
  padding:0px;
}

.modal-dialog {
    text-align: center;
    vertical-align: middle;
    display: block;
    top: 10%;
}

.modal-content {
  border: none;
}

@media screen and (max-width: 767px) {
  .gallery { 
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
  .gallery div { margin: 0; 
        width: 200px;
    }
}

@media screen and (max-width: 479px) {
    .gallery { 
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .gallery div { 
        margin: 0; 
        width: 200px;
    }
}
	